/* Styling for the navigation bar on each page */
nav li {
  display: inline;
  border-bottom: 2px solid #FBFBFF;
  padding: 5px 15px;
  margin: 5px;
  text-decoration: none;
  list-style-type: none;
  font-size: 25px;
  font-family: tahoma;
}

nav li a {
  color: #FBFBFF;
}

nav {
  padding: 5px 15px;
  background-color: #0B4F6C;
  width: auto;
  overflow: hidden;
  padding: 0px 60px;
}

/* Styling which only applies once the pointer is hovering over the hyperlink */
nav li:hover {
  border-bottom: 4px solid #FBFBFF;
}

nav li a:hover {
  text-decoration: none;
  color: #FBFBFF;
}

body {
  background-color: #01BAEF;
}

/* Styling for the current page that the website is on */
.active {
  background-color: #20BF55;
  border: 0px 2px solid #FBFBFF;
}

#welcome {
  margin: 20px 0px 40px 60px;
  color: #FBFBFF;
}

.heading {
  text-align: left;
  background-color: #20BF55;
  padding: 4px;
  padding-left: 10px;
  color: #FBFBFF;
  min-height: 50px;
}

p {
  color: #FBFBFF;
  padding: 4px;
  padding-left: 10px;
}

.home-info {
  background-color: #20BF55
}
