/* Styling for the navigation bar on each page */
nav li {
  display: inline;
  border-bottom: 2px solid #FBFBFF;
  padding: 5px 15px;
  margin: 5px;
  text-decoration: none;
  list-style-type: none;
  font-size: 25px;
  font-family: tahoma;
}

a {
  color: #FBFBFF;
}

nav {
  background-color: #3A606E;
  width: auto;
  overflow: hidden;
  padding: 16px 0px 1px 60px;
}

/* Styling which only applies once the pointer is hovering over the hyperlink */
nav li:hover {
  border-bottom: 4px solid #FBFBFF;
}

a:hover {
  text-decoration: none;
  color: #FBFBFF;
}

body {
  background-color: #94B9AF;
}

/* Styling for the current page that the website is on */
.active {
  background-color: #0D0630;
  border: 0px 2px solid #FBFBFF;
}

.home-main {
  padding: 0px 65px;
}

#welcome {
  margin: 70px 65px 50px 65px;
  color: #FBFBFF;
  background-color: #0B4F6C;
}

#welcome h1 {
  padding: 20px 10px;
}

.heading {
  text-align: left;
  background-color: #0B4F6C;
  padding: 20px 10px;
  color: #FBFBFF;
  min-height: 50px;
}

.home-info p {
  color: #FBFBFF;
  padding: 20px 10px;
}

.home-info {
  background-color: #0B4F6C;
}

footer {
  background-color: #3A606E;
  padding: 16px 0px 1px 60px;
  position: relative;
  margin-top: 75px;
}

footer li a {
  color: #FBFBFF;
  text-decoration: none;
  font-family: tahoma;
  padding: 5px 5px;
}

footer li a:hover {
  text-decoration: none;
  color: #FBFBFF;
  background-color: #0D0630;
}

.form-format {
  text-align: left;
  background-color: #0B4F6C;
  padding: 20px 10px;
  color: #FBFBFF;
  margin: 70px 65px 50px 65px;
}
